.row{   

    background-color:silver;
    color:black;
    font-size:20px;
    font-family: 'Nosifer', cursive;
}
.headshot{
    width:20%;
   
}
#pic{
    padding:10px;
}

.mid{
    background-color:gold;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:0px;
    margin-bottom:0px;
}
.aboutme{
    border:10px solid silver;   
}

.row{
 display:flex;
 justify-content: space-around;
}

#head{
 border-radius:50%;
 border:5px solid black;
}